.App {
  text-align: center;
  background-color: rgb(238, 236, 236);
  height: 100vh;
}

.listWrapper {
  margin: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  min-width: 700px;
}
.listtitle {
  font-size: 16px;
  margin-bottom: 0;
}
.loginctnr {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 5rem;
  gap: 1rem;
}

.loginform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputbox {
  margin: 10px;
  height: 30px;
  width: 250px;
  outline: none;
  border-radius: 5px;
  padding-left: 8px;
  border: 1px solid gray;
}
.Btn {
  padding: 8px;
  width: 250px;
  background-color: rgb(66, 66, 248);
  color: white;
  border: none;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

.resetPassword-main {
  margin: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.listctnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoutbtn {
  text-align: right;
  padding: 2rem;
}
